:root {
    --maincolor: #FFE7BF;
    --secondcolor: #FFC4C4;
    --thirdcolor: #FF869E;
    --fourthcolor: #FF869E;
    --fifthcolor: #A10035; 
    --base: #a10035;
    --blur: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato'; 
    scroll-behavior: smooth;   
    background-color: var(--maincolor);
}

.title {
    text-align: center;
    margin: 60px 0;
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-face {
    border: 20px var(--fifthcolor) solid ;
    border-radius : 50%;
    width : 360px;
    height: 360px;
    position: relative;
}

.hand {
    width: 50%;
    height: 10px;
    background-color: var(--fifthcolor);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05sec;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    width: 35%;
    top: 50%;
    left: 15%;
    background-color: var(--fourthcolor);
}

.second-hand {
    height: 5px;
    width: 46%;
    left: 4%;
    background-color: var(--secondcolor);
}

.min-hand {
    width: 43%;
    left: 7%;
    background-color: var(--thirdcolor);
    height: 9px;
}

.picture {
    width: 100vh;
    display: flex;
    margin: 20px auto;   
    padding: 10px;
    background: var(--base);
    filter: blur(var(--blur));
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 25px;
    margin: 0 10px;
}

#flexandjs {
    height: 100vh;
}

#panels {
    display: flex;
    padding: 60px 0;
    background-clip: content-box, padding-box;
    background-image: linear-gradient(#FFFFFF, #F5C26B), linear-gradient(#FEC3B4, #FF8C6F, #FF7A59);
}

.transparent {
    background-color: transparent;
    color : white;
}

.panel {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    height: 90vh;
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;

  }

.panel > * {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.panel > *:first-child {
    transform: translateY(-60%);
    color: #FEC3B4;
}

.open-active > *:first-child {
    transform: translateY(0%);
}

.panel > *:last-child {
    transform: translateY(60%);
    color : #FF7A59;
}
.open-active > *:last-child {
    transform: translateY(0%);
}

.open {
    flex: 2; 
    font-size: 40px;
}

.panel1 { 
    background-image:url(https://images.unsplash.com/photo-1537996194471-e657df975ab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=438&q=80); 
}
.panel2 { background-image:url(https://images.unsplash.com/photo-1539367628448-4bc5c9d171c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1554481923-a6918bd997bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80); }
.panel4 { background-image:url(https://images.unsplash.com/photo-1542897644-e04428948020?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80); }
.panel5 { background-image:url(https://images.unsplash.com/photo-1542897730-a00e7d3c4b4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80); }


@media screen and (max-width: 1000px) {
    .picture {
        max-width: 100%;
        max-height: 100%;
    }
}
